* {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto;
    width: 960px;
    background-color: white;
    padding-bottom: 10px;
}

.header {
    height: 120px;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
}

.header h1 {
    height: 90px;
    text-align: justify;
    padding-top: 50px;
    font-size: 30;
    font-family: sans-serif;
}

.header h2 {
    height: 60;
}